<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1" />
<title>
  Simple
</title>

<!-- Stylesheets -->
<link rel='stylesheet' href='style.css' />
<link rel='stylesheet' href='css/header.css' />
<link rel='stylesheet' href='css/typography.css' />

<!-- TODO: Meta tags -->

<link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
</head>

<body>

  <div class="outer-wrap">
    <header class="hero">
      <div class="centered">
        <script class="title" id="js" contenteditable>
          EDIT DIS
        </script>
      </div>
    </header>
  </div>

<script>
(function() {

  var timer,
      js = document.getElementById('js'),
      delay = 2000;

  js.onkeyup = function(event) {

    if (typeof timer != "undefined") {

      clearTimeout(timer);
      timer = 0;
    }

    timer = setTimeout(executeCode, delay);
  };

 function executeCode() {
    var script = document.createElement("script");
    script.innerHTML = js.innerHTML;
    js.parentNode.insertBefore(script, js);
 }

})();
</script>

  <div class="content">
    <main class="main-area">
      <article class="post-content">
        <h2>Lorem ipsum</h2>
        <p>Dolor amit</p>
      </article>
    </main>
  </div>





  
  <div class="content">
    <input type='file' id='getval' /><br/><br/>
    <div class='uploadPic'></div>
  </div>
  <script>
    document.getElementById('getval').addEventListener('change', readURL, true);
    function readURL(){
      var file = document.getElementById("getval").files[0];
      var reader = new FileReader();
      reader.onloadend = function(){
        document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
      }
      if(file){
        reader.readAsDataURL(file);
      } else {
      }
    }
  </script>


  <footer class="footer-area">
    <p>Footer</p>
  </footer>

</body>

</html>