
#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

div#columns figure {
    background: #eee;
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    display: inline-block;
    column-break-inside: avoid;
}

div#columns figure img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-bottom: 5px;
}


@media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
}