<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
  <link rel="stylesheet" href="./style.css">
  <title>Simple</title>
</head>
<body>
<script src="https://fb.me/react-15.0.0.js"></script>
<script src="https://fb.me/react-dom-15.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
<!--<script src="http://ec2-54-203-8-222.us-west-2.compute.amazonaws.com:8080/socket.io/socket.io.js"></script>-->

<div id="parent"></div>

<script type="text/babel">
  const socket = io('http://127.0.0.1:8080');
//  const socket = io('http://ec2-54-203-8-222.us-west-2.compute.amazonaws.com:8080');
  // ID generation
  let lastId = 0;
  function newId(prefix='id') {
    lastId++;
    return (prefix + lastId).toString();
  }
  class Parent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        sitePreferences: [{
          id: 'hero24',
          nickName: 'My Hero',
          componentName: <Hero1 />,
          attr: {
            bgColor: 'defaultColor',
            title: 'defaultTitle',
          },
        },
          {
            id: 'footer12',
            nickName: 'My Footer',
            componentName: <Footer />,
            attr: {
              bgColor: 'defaultColor',
              text: 'defaultText',
            },
          }],
      };


      this.map = this.map.bind(this);
      this.toComponents = this.toComponents.bind(this);
    }
    map(name) {
      const components = {
        Hero: {
          componentName: <Hero1 />,
        },
        ImageContent: {
          componentName: <ImageContent />,
        },
        PinterestContent: {
          componentName: <PinterestContent />,
        },
        PricingListModal: {
          componentName: <PricingListModal />,
        },
        ImageCaption: {
          componentName: <ImageCaption/>,
        },
        TextContent: {
          componentName: <TextContent />,
        },
        Footer: {
          componentName: <Footer />,
        },
      };
      if (components[name]){
        return components[name].componentName;
      }
    }
    /*
     * toComponent(raw) takes in an object and converts the object to a React-friendly version
     * Input: obj of shape { componentName: 'TextContent', attr: {} }
     * Output: obj { component: <TextContent />, attr: {} }
     */
    toComponent(raw) {
      var res = {...raw};
      res.componentName = this.map(res.componentName);
      return res;
    }
    /* Input: Raw is an array of objects [{componentName: 'TextContent', attr: }]
     * Output: Converts component to array of objects {componentName: <TextContent />, attr: }
     */
    toComponents(raw) {
      var res = [];
      raw.forEach((comp) => {
//        comp.componentName = this.map(comp.componentName)
        var newComp = this.toComponent(comp)
        res.push(newComp)
      });
      return res;
    }
    shouldComponentUpdate(){
      return true;
    }
    componentWillMount() {
      // Web client listens to 'addPrefDomStore' event emitted when the user hits 'Submit'
      socket.on('addPrefDomStore', (addition) => {
        let newPref = this.state.sitePreferences;
        newPref = [...newPref, this.toComponent(addition)];
        this.setState({ sitePreferences: newPref }, console.log('this.state.sitePreferences', this.state.sitePreferences));
      });
      socket.on('updatePrefDomStore', (newPrefs) => {
        let newPrefsComp = this.toComponents(newPrefs);

        // TODO: refactor
        this.setState({ sitePreferences: newPrefsComp.reverse() });
        this.setState({ sitePreferences: newPrefsComp.reverse() });
      });
    }
    render() {
      return (
        <div>
          { this.state.sitePreferences.map((component, i) => {
            const child = component.componentName;
            const props = component.attr;
            const id = component.id;
            return React.cloneElement(child, Object.assign(props, { key: i, id }));
          }) }
        </div>
      )
    }
  }
  class Hero1 extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        bgColor: this.props.bgColor,
        title: this.props.title,
        id: this.props.id,
        path1: ['attr', 'bgColor'],
        path2: ['attr', 'title'],
      };
      this.handleHeaderClick = this.handleHeaderClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        bgColor: nextProps.bgColor,
        title: nextProps.title,
        id: nextProps.id,
      });
    }
    componentDidMount() {
//      socket.on('colorChange2', (bgColor) => {
//        this.setState({ bgColor })
//      })
    }
    handleHeaderClick() {
      socket.emit('colorChange', { id: this.state.id, path: this.state.path1 });
    }
    render() {
      return (
        <div className="outer-wrap">
          <header
            className="hero header1"
            onClick={this.handleHeaderClick}
            style={{ backgroundColor: this.state.bgColor }}
          >
            <div className="centered">
              <span className="site-title">
                <EditableShortText
                  value={this.state.title}
                  id={this.state.id}
                  path={this.state.path2}
                />
              </span>
            </div>
          </header>
        </div>
      )
    }
  }
  class ImageContent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        imageUrl: this.props.imageUrl,
        mainTitle: this.props.mainTitle,
        subtitle1: this.props.subtitle1,
        body1: this.props.body1,
        subtitle2: this.props.subtitle2,
        body2: this.props.body2,
        subtitle3: this.props.subtitle3,
        body3: this.props.body3,
      }
    }
    render() {
      return(
        <div className="content">
          <div className="row middle-md">
            <div className="col-xs-12 col-sm-7 col-md-5">
              <div className="box">
                <h1><EditableShortText value={this.state.mainTitle} /></h1>
                <p>
                  <h3><EditableShortText value={this.state.subtitle1} /></h3>
                  <EditableLongText body={this.state.body1} />
                </p>
                <p>
                  <h3><EditableShortText value={this.state.subtitle2} /></h3>
                  <EditableLongText body={this.state.body2} />
                </p>
                <p>
                  <h3><EditableShortText value={this.state.subtitle3} /></h3>
                  <EditableLongText body={this.state.body3} />
                </p>
              </div>
            </div>
            <div className="col-xs-12 col-sm-4 col-sm-offset-1 col-md-6">
              <div className="box">
                <EditableImage src={this.state.imageUrl} />
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
  class EditableLongText extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        body: this.props.body,
        path: this.props.path,
        id: this.props.id,
        key: newId(),
      };
      this.handleClick = this.handleClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        body: nextProps.body,
        path: nextProps.path,
        id: nextProps.id,
      })
    }
    componentDidMount() {
//      socket.on('changeLongTextDom2', (data) => {
//        if (data.key === this.state.key) this.setState({ body: data.textValue })
//      })
    }
    handleClick(e) {
//      socket.emit('launchLongTextModal', {key: this.state.key, textValue: this.state.body});
      socket.emit('launchLongTextModal', { key: this.state.key, textValue: this.state.body, id: this.state.id, path: this.state.path });
    }
    render() {
      return(
        <span onClick={this.handleClick}>{this.state.body}</span>
      )
    }
  }
  class EditableShortText extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        color: this.props.color,
        textValue: this.props.value,
        path: this.props.path,
        id: this.props.id,
        key: newId(),
      };
      this.handleClick = this.handleClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        color: nextProps.color,
        textValue: nextProps.value,
        path: nextProps.path,
        id: nextProps.id,
      })
    }
    componentDidMount() {
//      socket.on('changeTitleDom2', (data) => {
//        if (data.key === this.state.key) this.setState({ textValue: data.textValue });
//      })
    }
    handleClick(e) {
      e.stopPropagation();
      socket.emit('launchTitleModal', { key: this.state.key, textValue: this.state.textValue, id: this.state.id, path: this.state.path });
    }
    render() {
      return(
        <span style={{color: this.state.color}} key={this.state.key} onClick={this.handleClick}>{this.state.textValue}</span>
      )
    }
  }
  class PinterestText extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        content: this.props.content,
      }
    }
    render() {
      const items = this.state.content.map((item, i) => {
        return (
          <figure key={i}>
            <h2><EditableShortText color={this.props.headerColor} value={item.title} /></h2>
            <EditableLongText body={item.body} />
          </figure>
        )
      });
      return (
        <div className="content content-60">
          <div className="columns columns-text">
            {items}
          </div>
        </div>
      )
    }
  }
  class EditableImage extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        src: this.props.src,
        key: newId(),
      };
      this.handleClick = this.handleClick.bind(this);
    }
    componentDidMount() {
      socket.on('changeImageDom2', (data) => {
        if (data.key === this.state.key) this.setState({ src: data.src });
      });
    }
    handleClick() {
      socket.emit('launchImageModal', this.state.key);
    }
    render() {
      return (
        <img className="image-scalable-container" key={this.state.key} onClick={this.handleClick} src={this.state.src} />
      )
    }
  }
  class PinterestContent extends React.Component {
    render() {
      const imageUrls = [
        'https://68.media.tumblr.com/8c03ff7f9a45832be4a65783b5c39ecb/tumblr_ovebbfcc3S1s2tva9o1_1280.jpg',
        'https://68.media.tumblr.com/3523f18b84d111ca2d39797c766d6ab8/tumblr_ov7e3t3Dg61s2tva9o1_1280.jpg',
        'https://68.media.tumblr.com/dd9ef337da64596dad08baf332e7c91e/tumblr_ovebc0U7381s2tva9o1_1280.jpg',
        'https://68.media.tumblr.com/bf224896567a05f502931d1f738cec85/tumblr_oubn37DsUk1s2tva9o1_1280.jpg',
        'https://68.media.tumblr.com/c0f6f53319b37c3dd46158438739a5ae/tumblr_oubn9jascg1s2tva9o1_1280.jpg',
        'https://68.media.tumblr.com/aac121c777631aa1ef756fd4164a004f/tumblr_oubn8iPPLG1s2tva9o1_1280.jpg',
      ];
      const images = imageUrls.map((item, i) => {
        return (
          <figure key={i}>
            <EditableImage src={item}/>
          </figure>
        )
      });
      return (
        <div className="content">
          <div className="columns columns-image">
            {images}
          </div>
        </div>
      )
    }
  }
  class ImageCaption extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        imageUrl: this.props.imageUrl,
        caption: this.props.caption,
        id: this.props.id,
        path1: ['attr', 'imageUrl'],
        path2: ['attr', 'caption'],
      }
    }
    render() {
      return (
        <div className="content">
          <div className="image-content-wrapper">
            <div className="image-content-inner-wrapper">
              <div className="figcaption">
                <EditableImage src={this.state.imageUrl} id={this.state.id} path={this.state.path1}/>
              </div>
              <i><EditableShortText value={this.state.caption} id={this.state.id} path={this.state.path2}/></i>
            </div>
          </div>
        </div>
      )
    }
  }
  class TextContent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        title: this.props.title,
        body: this.props.body,
        id: this.props.id,
        path1: ['attr', 'title'],
        path2: ['attr', 'body'],
      }
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        title: nextProps.title,
        body: nextProps.body,
        id: nextProps.id,
      });
    }
    render() {
      return (
        <div className="content">
          <h1><EditableShortText value={this.state.title} id={this.state.id} path={this.state.path1} /></h1>
          <EditableLongText body={this.state.body} id={this.state.id} path={this.state.path2} />
        </div>
      )
    }
  }
  class Footer extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        text: this.props.text,
        bgColor: this.props.bgColor,
        path1: ['attr', 'text'],
        path2: ['attr', 'bgColor'],
        id: this.props.id,
      };
      this.handleFooterClick = this.handleFooterClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        text: nextProps.text,
        bgColor: nextProps.bgColor,
        id: nextProps.id,
      })
    }
//    componentDidMount() {
//      socket.on('colorChange2', (bgColor) => {
//        this.setState({ bgColor })
//      })
//    }
    handleFooterClick() {
      socket.emit('colorChange', { id: this.state.id, path: this.state.path2 });
    }
    render() {
      return (
        <footer 
          className="footer-area"
          style={{ backgroundColor: this.state.bgColor }}
          onClick={this.handleFooterClick}
        >
          <p><EditableShortText value={this.state.text} id={this.state.id} path={this.state.path1}/></p>
        </footer>
      )
    }
  }

  class PricingListModal extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          borderColors: this.props.color,
          title: 'Items On Sale This Week',
          details: this.props.details,
          total: '$8.57',
          key: newId()
        };
        this.handleClick = this.handleClick.bind(this);
        this.styles = {
          parent: {
            maxWidth: '420px',
            border: 'solid 2px',
            borderColor: this.state.borderColors
          },
          title: {
            border: 'solid 2px',
            borderColor: this.state.borderColors,
            textAlign: 'center'
          },
          list: {
            textAlign: 'center',
            color: this.state.borderColors
          },
          total: {
            width: '80px',
            margin: '0 auto',
            border: 'solid 2px',
            textAlign: 'center',
            borderColor: this.state.borderColors
          }
        }
      }

      componentDidMount() {
        socket.on('updatePricingList2', (data) => {
          if (data.key === this.state.key) this.setState({ details: data.details});
        });
      } 

      handleClick() {
        socket.emit('launchPricingModal', {key: this.state.key, details: this.state.details});
      }

      render() {
        var list = this.state.details.map( (item) => {
         return <div><EditableShortText value={item} color={this.styles.list.color} /></div>
        })   
        return (
          <div className='Parent' style={this.styles.parent} onClick={this.handleClick} >
            <div id='title' style={this.styles.title}>
              <EditableShortText value={this.state.title} />
            </div> 
            <div id='list' style={this.styles.list}>
              {list}
            </div>
            <div id='total' style={this.styles.total} ><EditableShortText value={this.state.total} /></div>
          </div> 
        );
      }
    }

  ReactDOM.render(<Parent/>, document.getElementById('parent'));
</script>
</body>
</html>