<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
  <link rel="stylesheet" href="./style.css">
  <title>Simple</title>
</head>
<body>
<script src="https://fb.me/react-15.0.0.js"></script>
<script src="https://fb.me/react-dom-15.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>

<!--<script src="http://ec2-54-203-8-222.us-west-2.compute.amazonaws.com:8080/socket.io/socket.io.js"></script>-->

<div id="parent"></div>

<script type="text/babel">
  const socket = io('http://127.0.0.1:8080');
//  const socket = io('http://ec2-54-203-8-222.us-west-2.compute.amazonaws.com:8080');
  // ID generation
  let lastId = 0;
  function newId(prefix='id') {
    lastId++;
    return (prefix + lastId).toString();
  }
  class Parent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        sitePreferences: [{
          id: 'hero24',
          nickName: 'My Hero',
          componentName: <Hero1 />,
          attr: {
            bgColor: 'defaultColor',
            title: 'Title',
          },
        },
          {
            id: 'footer12',
            nickName: 'My Footer',
            componentName: <Footer />,
            attr: {
              bgColor: 'defaultColor',
              text: 'Footer',
            },
          }],
      };


      this.map = this.map.bind(this);
      this.toComponents = this.toComponents.bind(this);
    }
    map(name) {
      const components = {
        Hero: {
          componentName: <Hero1 />,
        },
        ImageContent: {
          componentName: <ImageContent />,
        },
        PinterestText: {
          componentName: <PinterestText />,
        },
        PinterestContent: {
          componentName: <PinterestContent />,
        },
        PricingListModal: {
          componentName: <PricingListModal />,
        },
        ImageCaption: {
          componentName: <ImageCaption/>,
        },
        TextContent: {
          componentName: <TextContent />,
        },
        List: {
          componentName: <List />,
        },
        Footer: {
          componentName: <Footer />,
        },
      };
      if (components[name]){
        return components[name].componentName;
      }
    }
    /*
     * toComponent(raw) takes in an object and converts the object to a React-friendly version
     * Input: obj of shape { componentName: 'TextContent', attr: {} }
     * Output: obj { component: <TextContent />, attr: {} }
     */
    toComponent(raw) {
      var res = {...raw};
      res.componentName = this.map(res.componentName);
      return res;
    }
    /* Input: Raw is an array of objects [{componentName: 'TextContent', attr: }]
     * Output: Converts component to array of objects {componentName: <TextContent />, attr: }
     */
    toComponents(raw) {
      var res = [];
      raw.forEach((comp) => {
//        comp.componentName = this.map(comp.componentName)
        var newComp = this.toComponent(comp)
        res.push(newComp)
      });
      return res;
    }
    shouldComponentUpdate(){
      return true;
    }
    componentWillMount() {
      // Web client listens to 'addPrefDomStore' event emitted when the user hits 'Submit'
      socket.on('addPrefDomStore', (addition) => {
        let newPref = this.state.sitePreferences;
        newPref = [...newPref, this.toComponent(addition)];
        this.setState({ sitePreferences: newPref }, console.log('this.state.sitePreferences', this.state.sitePreferences));
      });

      socket.on('updatePrefDomStore', (newPrefs) => {
        let newPrefsComp = this.toComponents(newPrefs);

        // TODO: refactor
        this.setState({ sitePreferences: newPrefsComp});
      });
    }
    render() {
      return (
        <div>
          { this.state.sitePreferences.map((component, i) => {
            const child = component.componentName;
            const props = component.attr;
            const id = component.id;
            return React.cloneElement(child, Object.assign(props, { key: i, id }));
          }) }
        </div>
      )
    }
  }
  class Hero1 extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        bgColor: this.props.bgColor,
        title: this.props.title,
        id: this.props.id,
        path1: ['attr', 'bgColor'],
        path2: ['attr', 'title'],
      };
      this.handleHeaderClick = this.handleHeaderClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        bgColor: nextProps.bgColor,
        title: nextProps.title,
        id: nextProps.id,
      });
    }
    componentDidMount() {
//      socket.on('colorChange2', (bgColor) => {
//        this.setState({ bgColor })
//      })
    }
    handleHeaderClick() {
      socket.emit('colorChange', { id: this.state.id, path: this.state.path1 });
    }
    render() {
      return (
        <div className="outer-wrap">
          <header
            className="hero header1"
            onClick={this.handleHeaderClick}
            style={{ backgroundColor: this.state.bgColor }}
          >
            <div className="centered">
              <span className="site-title">
                <EditableShortText
                  value={this.state.title}
                  id={this.state.id}
                  path={this.state.path2}
                />
              </span>
            </div>
          </header>
        </div>
      )
    }
  }
  class ImageContent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        imageUrl: this.props.imageUrl,
        mainTitle: this.props.mainTitle,
        subtitle1: this.props.subtitle1,
        body1: this.props.body1,
        subtitle2: this.props.subtitle2,
        body2: this.props.body2,
        subtitle3: this.props.subtitle3,
        body3: this.props.body3,
        id: this.props.id,
        path1: ['attr', 'imageUrl'],
        path2: ['attr', 'mainTitle'],
        path3: ['attr', 'subtitle1'],
        path4: ['attr', 'body1'],
        path5: ['attr', 'subtitle2'],
        path6: ['attr', 'body2'],
        path7: ['attr', 'subtitle3'],
        path8: ['attr', 'body3'],
      }
    }

    componentWillReceiveProps(nextProps) {
      this.setState({
        imageUrl: nextProps.imageUrl,
        mainTitle: nextProps.mainTitle,
        subtitle1: nextProps.subtitle1,
        body1: nextProps.body1,
        subtitle2: nextProps.subtitle2,
        body2: nextProps.body2,
        subtitle3: nextProps.subtitle3,
        body3: nextProps.body3,
        id: nextProps.id,
      })
    }

    render() {
      return(
        <div className="content">
          <div className="row middle-md">
            <div className="col-xs-12 col-sm-7 col-md-5">
              <div className="box">
                <h1><EditableShortText value={this.state.mainTitle} id={this.state.id} path={this.state.path2}/></h1>
                <p>
                  <h3><EditableShortText value={this.state.subtitle1} id={this.state.id} path={this.state.path3}/></h3>
                  <EditableLongText body={this.state.body1} id={this.state.id} path={this.state.path4}/>
                </p>
                <p>
                  <h3><EditableShortText value={this.state.subtitle2} id={this.state.id} path={this.state.path5}/></h3>
                  <EditableLongText body={this.state.body2} id={this.state.id} path={this.state.path6}/>
                </p>
                <p>
                  <h3><EditableShortText value={this.state.subtitle3} id={this.state.id} path={this.state.path7}/></h3>
                  <EditableLongText body={this.state.body3} id={this.state.id} path={this.state.path8}/>
                </p>
              </div>
            </div>
            <div className="col-xs-12 col-sm-4 col-sm-offset-1 col-md-6">
              <div className="box">
                <EditableImage src={this.state.imageUrl} id={this.state.id} path={this.state.path1}/>
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
  class EditableLongText extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        body: this.props.body,
        path: this.props.path,
        id: this.props.id,
        key: newId(),
      };
      this.handleClick = this.handleClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        body: nextProps.body,
        path: nextProps.path,
        id: nextProps.id,
      })
    }
    componentDidMount() {
//      socket.on('changeLongTextDom2', (data) => {
//        if (data.key === this.state.key) this.setState({ body: data.textValue })
//      })
    }
    handleClick(e) {
//      socket.emit('launchLongTextModal', {key: this.state.key, textValue: this.state.body});
      socket.emit('launchLongTextModal', { key: this.state.key, textValue: this.state.body, id: this.state.id, path: this.state.path });
    }
    render() {
      return(
        <span onClick={this.handleClick}>{this.state.body}</span>
      )
    }
  }
  class EditableShortText extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        color: this.props.color,
        textValue: this.props.value,
        path: this.props.path,
        id: this.props.id,
        key: newId(),
      };
      this.handleClick = this.handleClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        color: nextProps.color,
        textValue: nextProps.value,
        path: nextProps.path,
        id: nextProps.id,
      })
    }
    componentDidMount() {
//      socket.on('changeTitleDom2', (data) => {
//        if (data.key === this.state.key) this.setState({ textValue: data.textValue });
//      })
    }
    handleClick(e) {
      e.stopPropagation();
      socket.emit('launchTitleModal', { key: this.state.key, textValue: this.state.textValue, id: this.state.id, path: this.state.path });
    }
    render() {
      return(
        <span style={{color: this.state.color}} key={this.state.key} onClick={this.handleClick}>{this.state.textValue}</span>
      )
    }
  }
    class EditableListText extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          color: this.props.color,
          textValue: this.props.value,
          path: this.props.path,
          list: this.props.list,
          id: this.props.id,
          key: newId(),
          index: this.props.key
        };
        this.handleClick = this.handleClick.bind(this);
      }
      componentWillReceiveProps(nextProps) {
        this.setState({
          color: nextProps.color,
          textValue: nextProps.value,
          path: nextProps.path,
          list: nextProps.list,
          id: nextProps.id,
          index: nextProps.key,
        })
      }
      componentDidMount() {
  //      socket.on('changeTitleDom2', (data) => {
  //        if (data.key === this.state.key) this.setState({ textValue: data.textValue });
  //      })
        console.log('LIST TEXT ')
      }
      handleClick(e) {
        e.stopPropagation();
        socket.emit('launchListModal', { key: this.state.key, index: this.state.index, textValue: this.state.textValue, list: this.state.list, id: this.state.id, path: this.state.path });
      }
      render() {
        return(
          <span style={{color: this.state.color}} key={this.state.key} onClick={this.handleClick}>{this.state.textValue}</span>
        )
      }
    }



  class PinterestText extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        content: this.props.content,
        id: this.props.id,
        path: ['attr', 'content'],
      }
    }

    componentWillReceiveProps(nextProps) {
      this.setState({
        id: nextProps.id,
        content: nextProps.content,
      })
    }

    render() {
      const items = this.state.content.map((item, i) => {
        var path1 = [...this.state.path];
        var path2 = [...this.state.path];
        path1.push(i);
        path2.push(i);
        path1.push('title');
        path2.push('body');
        return (
          <figure key={i}>
            <h2><EditableShortText color={this.props.headerColor} value={item.title} id={this.state.id} path={path1}/></h2>
            <EditableLongText body={item.body} id={this.state.id} path={path2}/>
          </figure>
        )
      });
      return (
        <div className="content content-60">
          <div className="columns columns-text">
            {items}
          </div>
        </div>
      )
    }
  }
  class EditableImage extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        src: this.props.src,
        key: newId(),
        id: this.props.id,
        path: this.props.path,
      };
      this.handleClick = this.handleClick.bind(this);
    }

    componentWillReceiveProps(nextProps) {
      this.setState({
        src: nextProps.src,
        id: nextProps.id,
        path: nextProps.path,
      })
    }

    componentDidMount() {
      // socket.on('changeImageDom2', (data) => {
      //   if (data.key === this.state.key) this.setState({ src: data.src });
      // });
    }
    handleClick() {
      socket.emit('launchImageModal', {key: this.state.key, id: this.state.id, path: this.state.path});
    }
    render() {
      return (
        <img className="image-scalable-container" key={this.state.key} onClick={this.handleClick} src={this.state.src} />
      )
    }
  }
  class PinterestContent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        imageUrls: this.props.imageUrls,
        id: this.props.id,
        path: ['attr', 'imageUrls'],
      }
    }

    componentWillReceiveProps(nextProps) {
      this.setState({
        id: nextProps.id,
        imageUrls: nextProps.imageUrls,
      })
    }

    render() {
      const images = this.state.imageUrls.map((item, i) => {
        var imgpath = [...this.state.path]
        imgpath.push(i);
        return (
          <figure key={i}>
            <EditableImage src={item} id={this.state.id} path={imgpath}/>
          </figure>
        )
      });
      return (
        <div className="content">
          <div className="columns columns-image">
            {images}
          </div>
        </div>
      )
    }
  }
  class ImageCaption extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        imageUrl: this.props.imageUrl,
        caption: this.props.caption,
        id: this.props.id,
        path1: ['attr', 'imageUrl'],
        path2: ['attr', 'caption'],
      }
    }

    componentWillReceiveProps(nextProps) {
      this.setState({
        imageUrl: nextProps.imageUrl,
        caption: nextProps.caption,
        id: nextProps.id,
      })
    } 

    render() {
      return (
        <div className="content">
          <div className="image-content-wrapper">
            <div className="image-content-inner-wrapper">
              <div className="figcaption">
                <EditableImage src={this.state.imageUrl} id={this.state.id} path={this.state.path1}/>
              </div>
              <i><EditableShortText value={this.state.caption} id={this.state.id} path={this.state.path2}/></i>
            </div>
          </div>
        </div>
      )
    }
  }
  class TextContent extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        title: this.props.title,
        body: this.props.body,
        id: this.props.id,
        path1: ['attr', 'title'],
        path2: ['attr', 'body'],
      }
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        title: nextProps.title,
        body: nextProps.body,
        id: nextProps.id,
      });
    }
    render() {
      return (
        <div className="content">
          <h1><EditableShortText value={this.state.title} id={this.state.id} path={this.state.path1} /></h1>
          <EditableLongText body={this.state.body} id={this.state.id} path={this.state.path2} />
        </div>
      )
    }
  }
  class Footer extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        text: this.props.text,
        bgColor: this.props.bgColor,
        path1: ['attr', 'text'],
        path2: ['attr', 'bgColor'],
        id: this.props.id,
      };
      this.handleFooterClick = this.handleFooterClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        text: nextProps.text,
        bgColor: nextProps.bgColor,
        id: nextProps.id,
      })
    }
//    componentDidMount() {
//      socket.on('colorChange2', (bgColor) => {
//        this.setState({ bgColor })
//      })
//    }
    handleFooterClick() {
      socket.emit('colorChange', { id: this.state.id, path: this.state.path2 });
    }
    render() {
      return (
        <footer 
          className="footer-area"
          style={{ backgroundColor: this.state.bgColor }}
          onClick={this.handleFooterClick}
        >
          <p><EditableShortText value={this.state.text} id={this.state.id} path={this.state.path1}/></p>
        </footer>
      )
    }
  }

  class List extends React.Component {
    constructor(props){
      super(props);
      this.state = {
        bgColor: this.props.bgColor,
        items: this.props.items,
        id: this.props.id,
        path: ['attr', 'items'],
      }
      this.handleClick = this.handleClick.bind(this);
    }
    componentWillReceiveProps(nextProps) {
      this.setState({
        id: nextProps.id,
        bgColor: nextProps.bgColor,
        items: nextProps.items,
      })
    }

    handleClick() {
      socket.emit('launchListModal', {key: this.state.key, id: this.state.id, path: this.state.path});
    }

    render() {
      const list = this.state.items.map((item, i) => {
        var itempath = [...this.state.path]
        itempath.push(i);
        return (
          <p><EditableListText value={item} list={this.state.items} key={i} id={this.state.id} path={itempath}/></p>
        )
      });
      return (
        <div className="content">
          <div className="columns columns-image">
            {list}
          </div>
        </div>
      )
    }
  }

  class PricingListModal extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          borderColors: this.props.color,
          title: 'Items On Sale This Week',
          details: this.props.details,
          total: '$8.57',
          key: newId()
        };
        this.handleClick = this.handleClick.bind(this);
        this.styles = {
          parent: {
            maxWidth: '420px',
            border: 'solid 2px',
            borderColor: this.state.borderColors
          },
          title: {
            border: 'solid 2px',
            borderColor: this.state.borderColors,
            textAlign: 'center'
          },
          list: {
            textAlign: 'center',
            color: this.state.borderColors
          },
          total: {
            width: '80px',
            margin: '0 auto',
            border: 'solid 2px',
            textAlign: 'center',
            borderColor: this.state.borderColors
          }
        }
      }

      componentWillReceiveProps(nextProps) {
        this.setState({
          borderColors: nextProps.color,
          details: this.props.details,
        })
      }

      componentDidMount() {
        socket.on('updatePricingList2', (data) => {
          if (data.key === this.state.key) this.setState({ details: data.details});
        });
      } 

      handleClick() {
        socket.emit('launchPricingModal', {key: this.state.key, details: this.state.details});
      }

      render() {
        var list = this.state.details.map( (item) => {
         return <div><EditableShortText value={item} color={this.styles.list.color} /></div>
        })   
        return (
          <div className='Parent' style={this.styles.parent} onClick={this.handleClick} >
            <div id='title' style={this.styles.title}>
              <EditableShortText value={this.state.title} />
            </div> 
            <div id='list' style={this.styles.list}>
              {list}
            </div>
            <div id='total' style={this.styles.total} ><EditableShortText value={this.state.total} /></div>
          </div> 
        );
      }
    }

  ReactDOM.render(<Parent/>, document.getElementById('parent'));
</script>
</body>
</html>